<main>
  <section
    class="home__hero px-4 md:px-16 py-8 flex justify-between items-center"
  >
    <div class="home__hero--left w-1/2">
      <h6 class="text-xs md:text-lg">
        <em> Are you hungry?</em>
      </h6>
      <h1 class="font-medium text-xl md:text-5xl py-2 md:py-4">Don't Wait !</h1>
      <button class="text-sm md:text-base py-1 md:py-2 px-2 md:px-4">
        Order Now
      </button>
    </div>
    <div class="home__hero--right w-1/2">
      <img class="w-auto" src="/img/hero-pizza.png" alt="banner pizza" />
    </div>
  </section>

  <section class="home__menu container px-2 md:mx-auto py-8">
    <h2>All Pizzas</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8 py-4 px-4">
      <% pizzas.map(pizza => { %>
      <section
        class="home__item mr-2 w-full lg:w-4/5 px-2 grid"
      >
        <img src="/img/menu/<%= pizza.image %>" alt="menu item photo" />
        <div class="text-center">
          <h3 class="py-4 text-lg"><%= pizza.name %></h3>
          <span class="text-xs rounded-full uppercase py-1 px-3">
            <%= pizza.size %>
          </span>
        </div>

        <div class="flex items-center justify-between w-full py-8">
          <h2>$<%= pizza.price %></h2>
          <button data-pizza="<%= JSON.stringify(pizza) %>" class="home__addToCart px-2 md:px-4 rounded-2xl">
            + Add
          </button>
        </div>
      </section>
      <% }) %>
    </div>
  </section>
</main>
